html,
body,
p {
  padding: 0;
  margin: 0;
  background: black;
  color: white;
  font-family: Pixelar;
  text-decoration: none;
}

:root {
  --yellow: rgb(208, 192, 10);
}

a {
  color: var(--yellow);
  font-size: 4vh;
  text-decoration: none;
}

@font-face {
  font-family: "Pixelar";
  src: url("../public/Pixelar-Regular-W01-Regular.ttf");
}

/* ^^ Overall Design ^^ */

.nav__menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.nav__menu-list a {
  padding: 0 2vw;
}

/* ^^ Navigation Design ^^ */

.empty-page-text {
  text-align: center;
  margin-top: 10%;
}

/* ^^ Placeholder text on empty pages Design ^^ */

.message-wrapper {
  margin-top: 5%;
}

.message-wrapper h2 {
  text-align: center;
  font-size: 8vh;
  margin: 0 0 1% 0;
}

.message-wrapper h3 {
  text-align: center;
  font-size: 3vh;
  margin: 0 0 3% 0;
  justify-content: center;
}

.message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25vw;
  padding: 1% 0 1% 0;
  margin: 0 auto;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.301);
}

.attributes {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 10%;
}

.attributes p {
  padding-bottom: 3%;
}

.first-line {
  font-size: 3vh;
}

.second-line {
  font-size: 2.5vh;
}

.third-line {
  font-size: 2vh;
}

.message-wrapper button {
  background-color: rgb(226, 226, 101);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vh auto 0 auto;
  color: rgb(100, 78, 12);
  font-family: "Pixelar";
  font-size: 2.5vh;
  cursor: pointer;
}

/* ^^ Home Page Cards in Inbox Design ^^ */
